<ion-header>
  <ion-toolbar class="grad" style="background-color: blue;">
    <ion-row center style="font-size:10px;width:100%;">
      <ion-col>
        <div style="color:#000000">
        </div>
      </ion-col>
      <ion-col style="" class="textcolor">
        <div class="textcolor" style="color:#000000">
          <ion-title class="textcolor" style="margin-left: -100px;margin-top: 0px"></ion-title>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content style="margin-bottom: 100%; background-color: blue;">
  <p>{{ message }}</p>
  <ion-row padding style="margin-top: 55%;">
    <ion-col col-6>
        <button ion-button block mode="ios" color="coopoddgreen" (click)="dismiss(true)" style="width:100%; height: 45px;border-radius: 10px;">
            OK
        </button>
    </ion-col>
    <ion-col col-6>
        <button ion-button block mode="ios" color="cooplightgreen" (click)="dismiss(false)" style="width:100%; height: 45px;border-radius: 10px;">
            Cancel
        </button>
    </ion-col>
  </ion-row>
</ion-content>
