<ion-header>
  <ion-toolbar>
    <ion-title>
      Loan Application
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Amount</ion-label>
      <ion-input  type="number"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="full" (click)="toLoginPage()">Submit Application</ion-button>

</ion-content>
